---
BasedOnStyle: Google
IndentWidth: 2
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 0
